body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #163152;
  background-color: #fdfdff;
}

.main-header {
  display: flex;
  align-items: center;
  height: 1fr;
  margin: 0 auto;
  padding: 10px 50px;
  margin-bottom: 20px;
}

.flex-names i {
  color:darkgrey;
}

.logo img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

.flex-names {
  margin-right: auto;
}

.flex-names p {
  line-height: 18px;
}

.main-nav p {
  font-size: 24px;
  font-style: italic;
}

.social-list {
  display: flex;
  gap: 15px;
  list-style: none;
  padding: 0;
  margin: 0
}

.social-item a:hover {
  opacity: 0.7;
}

main {
  height: 5fr;
  padding: 100px 80px;
  margin: 0;
  margin-bottom: 0;
  background-color: #efefef;
}

main h1 {
  font-size: 36px;
  line-height: 30px;
  font-style: italic;
  margin: 0;
  margin-bottom: 70px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  gap: 25px;
  list-style: none;
  padding: 0;
  margin: 40px 0;
}

.portfolio-item {
  box-sizing: border-box;
  padding: 15px;
  padding-bottom: 20px;
  margin: 0;
  border-radius: 10%;
  box-shadow: 0px 4px 30px rgba(22, 49, 82, 0.12);
}

.portoflio-item img {
  display: block;
  margin: 0 auto;
}

.portfolio-item a {
  color: #163152;
  text-decoration: none;
}

.portfolio-item a:hover {
  opacity: 0.7;
}

.portfolio-item h2 {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  padding-left: 10px;
}

.disclaimer {
  margin-top: 60px;
  margin-bottom: 60px;
  line-height: 30px;
}

.figure-wrapper {
  display: flex;
  gap: 15px;
}

.figure-wrapper a {
  margin-top: 18px;
}

.figure-wrapper a:hover {
  opacity: 0.7;
}

.main-footer { 
  height: 1fr;
  background-color: #A5A5A5;
  padding: 30px;
  padding-bottom: 30px;
  margin: 0;  
}

.contacts-list {
  display: flex;
  justify-content: start;
  gap: 50px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.contacts-list h3 {
  display: inline;
  margin: 0;
  margin-right: 10px;
  padding: 0;
}

.contact-item a {
  color: #163152;
  text-decoration: none;
}

.contact-item a:hover {
  color: rgba(22, 49, 82, 0.5);
}

.contact-item a:active {
  color: rgba(22, 49, 82, 0.3);
}

.contact-item address {
  display: inline;
  font-style: normal;
}